.item{
    object-fit: cover;
}
#myCarousel{
    width: 119%;
    margin-left: -9.8%;
    right:0%;
    
}
.row{
    margin-top:2%
}
.row h2{
    text-align: center;
    font-size:50px;
    margin-bottom: 2%;
    font-weight: bold;
}
.row p{
    font-size: 18px;
}
.row h3{
    font-weight: bold;
    font-size: 20px;
}
.card{
    width: 99%;
}

.Zoom{
    border-radius: 5px; 
  
    margin-left: 1%;
}
.Zoom:hover{
 -ms-transform: scale(1.07); 
-webkit-transform: scale(1.07); 
transform: scale(1.07);
border-radius: 5px; 
}

/* -----------------Gallery----------------------------------------------------------*/
.thumbnail{
    box-shadow: 1px 2px gray;
  
}
.thumbnail * {
    box-sizing: border-box;
}
.thumbnail {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.thumbnail img {
    max-width: 100%;
}
.thumbnail .hvrbox-layer_bottom {
    display: block;
}
.thumbnail .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.thumbnail:hover .hvrbox-layer_top,
.thumbnail.active .hvrbox-layer_top {
    opacity: 1;
}
.thumbnail .hvrbox-text {
    text-align: justify;
    

    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.thumbnail .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.thumbnail.active .hvrbox-text_mobile {
    display: block;
}
